
<!-- 各ユーザーの新着投稿順　一覧 -->

<div class='view container-fluid'>
  <div class='row my-3'>
    <h3 class ="view-tag"><%= @user.handle_name %>のしおり一覧</h3>
  </div>
  <%= render 'public/itineraries/index', itineraries:@itineraries %>
</div>
