<!-- タグ検索の新着投稿順　一覧 -->

<div class='view container-fluid'>
  <div class='search-region-row row my-3 d-flex'>
    <div class ="view-tag d-flex align-items-center">
      <h3><%= @region_name %>に関するしおり</h3>
      <h6 class ="ml-2">投稿数：<%= @itineraries.count %>件</h6>
    </div>
  </div>
  <%= render 'public/itineraries/index', itineraries:@itineraries %>
</div>

