<div class="hero-section">
  <div class="container h-100">
    <div class ="row h-100">
      <div class ="col-md-7 d-flex flex-column justify-content-end h-75">
        <div class ="first_concept">みんなの旅行計画を覗いてみよう<br>旅行がもっと楽しくなるはず<br><!--地図から探す-->旅のしおり共有サイト</div>
      </div>
      <div class ="col-md-5">
        <div class ="topimage1"><img src="/assets/logo-w.png" class="img-fluid mt-5"></div>
        <div class ="topimage2"><img src="/assets/mockup.png" class="img-fluid "></div>
      </div>
    </div>

    <div class ="row">
      
    </div>
  </div>
</div>
