.destination-name {
  word-wrap: break-word; /* 連続した半角文字も折り返し */
}


@media (max-width:992px){
  /* タイトル　*/
  .itinerary-index{
    .itinerary-index-row{
      margin-bottom: 0;
      h3{
        font-size:20px;
      }
    }
    .shiori-title-text{
      .index-key-image{
        text-align: center;
      }
    }
    .index-itinerary-title{
      margin-bottom: 3px !important;
    }
    .itinerary-info{
      display:flex;
      margin-bottom: 1rem;
      div{
        margin-right: 1rem;
      }
    }
  }
}