<div class="container d-flex justify-content-center align-items-center mt-3" >
  <div class="row w-50 shadow">
    <div class="col offset-1 card-body">
      <h2 class="my-3">しおりタイトル更新</h2>

      <%= render 'layouts/errormessage', obj: @itinerary %>

      <%= form_with model:@itinerary, url:itinerary_path(@itinerary), method: :patch, local: true do |f| %>

      <%= render 'edit_form', f: f %>

      <div class="m-4 d-flex justify-content-center">
        <%= f.submit '更新する', class: 'btn btn-submit w-50' %>
      </div>
      <% end %>
    </div>
  </div>
</div>
