<!-- 全ユーザーの新着投稿順　一覧 -->

<div class='itinerary-index view container-fluid'>
  <div class='row my-3'>
    <h3 class ="view-tag">新着しおり一覧</h3>
  </div>
  <%= render 'public/itineraries/index', itineraries:@itineraries %>
</div>
