<div class="container d-flex justify-content-center align-items-center mt-3" >
  <div class="row w-50 shadow">
    <div class="col offset-1 card-body">
      <h2 class="my-3">しおりタイトル作成</h2>

      <%= form_with model: @itinerary, local: true do |f| %>

      <%= render 'edit_form', f: f %>

      <div class="m-4 d-flex justify-content-center">
        <%= f.submit '行き先を追加する', class: 'btn btn-submit w-50' %>
      </div>
      <% end %>
    </div>
  </div>
</div>