<div class="container d-flex justify-content-center align-items-center" >
  <div class="col-sm-5 mt-5 card-body shadow">
    <h2 class="my-3 text-center">しおりタイトル作成</h2>

    <%= render 'layouts/errormessage', obj: @itinerary %>

    <%= form_with model: @itinerary, local: true do |f| %>

    <%= render 'edit_form', f: f %>

    <div class="m-4 d-flex justify-content-center">
      <%= f.submit '行き先を追加する', class: 'btn btn-submit' %>
    </div>
    <% end %>
  </div>
</div>