
<!-- コメント投稿フォーム -->
<% if current_user && itinerary.published? %>
  <div class="m-3">
    <%= form_with model: [itinerary, post_comment], url:itinerary_post_comments_path(itinerary),method: :post,local: false do |f| %>
      <div class="form-group">
        <%= f.text_area :comment, rows: 3, class: "form-control", id: "comment_textarea", placeholder: "コメントを入力してください",required: true %>
      </div>
      <%= f.submit "投稿する", class: "btn btn-sm btn-submit" %>
    <% end %>
  </div>
<% end %>