/*画像を１対１にする*/

.square {
  position: relative;
  width: 100%;
  padding-top: 100%;
}

.square-img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  object-fit: cover;
}

/*ユーザーinfoの画像*/
.img-square{
  width: 100px; /* 必要に応じて調整 */
  height: 100px; /* 必要に応じて調整 */
  object-fit: cover; /* 縦横比を保ちつつサイズに収める */
}
