
/*ビューのタイトル*/
.view-tag{
  margin-top:2%;
  padding:0.7rem 8rem 0.7rem 1rem;
  background: linear-gradient(90deg, rgba(25, 69, 113, 0.5), rgba(142, 181, 220,0.1));
  color:white;
  text-shadow: #ffffe0 1px 0 5px;
}

/*ビューの中身のcard-body*/
.card-body {
  background-color: rgba(250, 250, 250, 0.8);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}


/*しおりタイトル*/
.shiori-title{
  background-color: rgba(235, 254, 254, 0.3);
}

/*下線*/
.shiori-title-text,.user_name{
  border-bottom: solid 1px#676767;
}

/*行き先リスト*/
.destination-list-title,.bookmark{
  color:white;
  text-shadow: #ffffe0 1px 0 5px;
}

/*黒で囲うあしらい*/
.destination-important,.index-itinerary-title{
  font-size:20px;
  color:rgb(0, 0, 0);
  padding: 3px 13px; /* 内側の余白 */
  flex-shrink: 0;
  border: 1px solid rgb(138, 138, 138); /* 黒い枠線 */
  border-radius: 20px; /* 角丸の設定 */
}

/* ホバー時のアニメーション　*/
.index-itinerary-title{
  transition: background-color 0.3s, color 0.3s; /* ホバー時のアニメーション */
}

/* ホバー時の効果 */
.index-itinerary-title:hover {
  background-color: rgba(0, 0, 0); /* 背景を黒に */
  color: white; /* 文字を白に */
  border: 1px solid rgb(0, 0, 0); /* 黒い枠線 */
}


/*行き先追加 フォームタイトル*/
.destination-form-title{
  color:white;
  text-shadow: #ffffe0 1px 0 5px;
  background-color: rgb(101, 202, 206,0.6);
  padding: 0.3rem;
}

.destination-edit-form-title{
  color:white;
  text-shadow: #ffffe0 1px 0 5px;
  background-color: rgba(137, 137, 137, 0.6);
  padding: 0.3rem;
}

/*行き先追加フォーム必須項目テキスト*/
.form-text{
  color:#000000;
  font-weight: 200;
  background: linear-gradient(90deg, rgba(220, 220, 220, 0.5), rgba(142, 181, 220,0.1));
  padding:2px;
}

.form-sub-text{
  color:#929292;
}

.destination-table td{
  padding:0.5rem;
}




/*キーイメージ*/

.key-image{
  border-radius: 1rem;
  max-width: 90%;  /* 親要素に対する幅の割合 */
  max-height: 6rem; /* 高さの最大値 */
  height: auto;     /* アスペクト比を保持 */
  width: auto;      /* アスペクト比を保持 */
  object-fit: cover; /* 画像を枠内に収める */
}

.show-key-image{
  border-radius: 1rem;
  height: 100%;     /* アスペクト比を保持 */
  max-width: 90%;
  max-height: 90%;
  width: auto;      /* アスペクト比を保持 */
  object-fit: contain; /* 画像を枠内に収める */
}


/*しおりショーページ*/

.view{
  width:80%;
}

.status-select{
  font-size:1rem;
  margin-left: 1.5rem;
}

/*コメント欄 */
.comment-container{
  background-color: rgba(250, 250, 250, 0.8);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

/*スクロール itinerary-showページ edit-destinationページ */
.map-container,.form-container {
  position: sticky;
  top: 0;
  height: 80vh;
  overflow: hidden;
}

/* 行き先リストをスクロール可能に */
.destination-list-container {
  height: 55vh;
  overflow-y: auto;
  padding-right: 15px; /* スクロールバーと内容の間に余白 */
}

.destination-list {
  padding-bottom: 20px; /* フッターとの隙間を確保 */
}