
<div class='view container-fluid mb-5'>
  <div class='row my-3'>
    <h4><%= @user.handle_name %>のページ</h4>
  </div>

  <div class='row'>
    <div class='col-md-4'>
      <%= render 'admin/users/user_info', user:@user %>
    </div>
    <div class='col-md-7 '>
      <h5>投稿一覧</h5>
      <% if @itineraries.any? %>
        <% @itineraries.each do |itinerary| %>
          <%= render 'admin/itineraries/itineraries', itinerary:itinerary %>
          <% end %>
      <% else %>
        <p>まだ投稿はありません。</p>
      <% end %>
      <div class="row justify-content-end my-4">
        <%= paginate @itineraries %>  
      </div>
    </div>
  </div>
</div>