<% if @user.is_active %>
  <div class='view container-fluid mb-5'>
    <div class='row my-3'>
      <h3 class ="view-tag"><%= @user.handle_name %>のページ</h3>
    </div>

    <div class='row'>

      <div class='col-md-4'>
        <%= render 'public/users/user_info', user:@user %>
      </div>
      
      <div class='col-md-8'>
        <% if @itineraries.any? %>
          <% @itineraries.each do |itinerary| %>
            <%= render 'public/itineraries/itineraries', itinerary:itinerary %>
          <% end %>
        <% else %>
          <p>まだ投稿はありません</p>
        <% end %>
        <div class="row justify-content-end my-4">
          <%= paginate @itineraries %>
        </div>
      </div>
    </div>
  </div>
  <% else %>
  <div class='view container-fluid mb-5'>
    <div class='row my-3 d-flex justify-content-center'>
      <div class ="col-5 text-center">
        <p class ="card-body shadow mt-5">退会済ユーザーです</p>
      </div>
    </div>
  </div>
<% end %>