<header>
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
      <!-- ロゴ -->
      <%= link_to root_path, class: "navbar-brand" do %>
        <%= image_tag "logo-b.png", alt: "ロゴ", height: "50" %>
      <% end %>

      <!-- ヘッダーのメソッドはapplication.helperに記述している -->

      <!-- トグルボタン (レスポンシブ対応) -->
      <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button> -->

      <!-- ナビゲーションメニュー表示エリア -->
      <div class=" justify-content-end" id="navbarContent">
        <ul class="navbar-nav">
          <%= render_navigation %>
        </ul>
      </div>
    </div>
  </nav>
</header>